NODE_ENV=development
PORT=3000
# Ensure you are using a replica set if you want to use Transactions. 
# If running standalone locally, transactions might fail without proper config.
MONGO_URI=mongodb+srv://ravi:ivar@cluster0.nttagip.mongodb.net/?appName=Cluster0
